@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: black;
    color: white;
  }
  
  .dark .search-container {
    color: black; /* set the color for search container text in dark mode */
  }
